:root {
	--section-header-align: center;
	--section-tagline-transform: uppercase;
	--section-title-margin: 0; 
	--section-title-color: var(--color-black); 
  }
  
  .section-header {
	text-align: var(--section-header-align);
  }
  
  .section-title {
	color: var(--section-title-color);
	font-family: var(--font-family-title);
	font-size: var(--font-size-xx-large);
	font-weight: var(--font-weight-bold);
	margin: var(--section-title-margin); 
  }
  
  .section-tagline {
	font-family: var(--font-family-title);
	font-weight: var(--font-weight-bold);
	text-transform: var(--section-tagline-transform);
  }
