a {
	text-decoration: none;
	display: block;
	padding: 1rem 0;
  }
  
  a:link { 
	color: var(--text-color);
  }
  
  a:visited { 
	font-style: italic;
  }
  
  a:hover { 
	text-decoration: underline;
  }
  
  a:active { 
	background-color: var(--color-light-grey);
  }