[data-section-theme="dark"] {  
	background-color: var(--color-black); 
	color: var(--color-white); 
  
	/* Redefine text color for dark sections */
	--text-color: var(--color-white);
	--section-title-color: var(--color-white); 
  }
